<h2>My Heroes</h2>
<ul class="heroes">
    <!-- OLD VERSION -->
    <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"> -->
        <!-- Class Binding for Styling -->
        <!-- <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
    <!-- NEW VERSION -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!-- Send the selected hero to HeroDetail Component, One way data Binding -->